<li id="review-<%= review.id %>">
	<span class="user"><%= review.user.name %></span>
  <span class="label"><%= review.label %></span>
  <span class="desc"><%= review.description %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(review.created_at) %> ago.
  </span>
</li>